body {
    background-color: #002347;
    font-family: 'Montserrat';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;

    height: 100vh;
    overflow: hidden;
}

:root {
    --white: 255, 253, 250;
    --success: 	124, 252, 0;

    --background: 0, 35, 71;
    --dominant: 255, 142, 0;
}

.column {
    display:flex;
    flex-direction: column;
}
  
.column-center {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column-center-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.column-center-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.column-left {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.column-left-top {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-center-top {
    display: flex;
    justify-content: center;
}

.row-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.row-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}

.row-left-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.row-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.row-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}
  